section {
    width: 400px;
    height: 600px;
    margin: 60px auto;
    border: 2px solid darkgrey;
    font-size: 0;
    border-radius: 10px;
    background-image: url("images/background-gradient.jpg");
}

.display_area {
    width: 353px;
    height: 120px;
    border: 2px solid white;
    margin: 22px;
    border-radius: 10px;
    background-color: transparent;
}

.display_area_text{
    color: white;
    font-size: 90px;
    text-align: right;
    margin-top: 20px;
    margin-right: 15px;
    font-family: Arial Narrow, Helvetica, sans-serif;
}

.clear_whole,
.clear_recent,
.number_keys,
.decimal_key,
.operator_keys,
.equal_key {
    width: 80px;
    height: 75px;
    border: 2px solid white;
    border-radius: 80px;
    margin: 3px;
    font-size: 20px;
    background-color: Transparent;
    color: white;
}

.number_keys:hover,
.decimal_key:hover{
    box-shadow: inset 0 0 40px white;
}

.clear_whole:hover,
.clear_recent:hover{
    box-shadow: inset 0 0 40px yellow;
}

.operator_keys:hover{
    box-shadow: inset 0 0 40px red;
}

.equal_key:hover {
    box-shadow: inset 0 0 20px blue;
}

#keypad {
    text-align: center;
}

.clear_whole, #zero_key{
    width: 166px;
}

